.App {
   text-align: center;
}
/* .container{
   margin:1rem;
}
.card{
   background-color: cadetblue;
   display: inline-block;
   width:400px;
   border: solid 2px;
   border-radius: 2rem;
   padding: 1rem 0.5rem;
   margin: 0.5rem 0.5rem;
   transition: 0.5s;
}
.card:hover{
   background-color: rgb(77, 151, 126);
}
.card h2{
   margin: 0.5rem 0;
} */